<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>918768658600-79pjlff0c9bccdg8f10274g5si0jg4e7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.918768658600-79pjlff0c9bccdg8f10274g5si0jg4e7</string>
	<key>API_KEY</key>
	<string>AIzaSyAPnUsr7A3HSiL5RFlm9leLhr96JsPj2D4</string>
	<key>GCM_SENDER_ID</key>
	<string>918768658600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>site.loveli.oldbirds</string>
	<key>PROJECT_ID</key>
	<string>oldbirds-d78c5</string>
	<key>STORAGE_BUCKET</key>
	<string>oldbirds-d78c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918768658600:ios:ba578d80cf85203fc83a9d</string>
	<key>DATABASE_URL</key>
	<string>https://oldbirds-d78c5.firebaseio.com</string>
</dict>
</plist>